
//entry point
<Layout load="Layout/Html" title="{title}">
    <Layout:main>
        <TimeBreaker load="Components/TimeBreaker" append="style => Layout:styles" users="{users}">
            <Layout:scripts append="true"><TimeBreaker:script /></Layout:scripts>
            <TEML:scripts append="true"><TimeBreaker:script /></TEML:scripts>
        </TimeBreaker>
    </Layout:main>
    <!--<Layout:scripts append="true"><TimeBreaker:script /></Layout:scripts> :: Error -->
<Layout>



<html>
<head>
    <title>{title}</title>
    <this:styles />
</head>
<body>

<this:main />
<this:scripts />

</body>
</html>


// TimeBreaker
<this:style>blabla</this:style>
<this:script>blabla</this:script>
<div>
    <div t:each="users as user">
        {user['hello']}
    </div>
</div>
